//Microsoft Developer Studio generated resource script.
//
// This is a part of the ActiveX Template Library.
// Copyright (c) Microsoft Corporation.  All rights reserved.
//
// This source code is only intended as a supplement to the
// ActiveX Template Library Reference and related
// electronic documentation provided with the library.
// See these sources for detailed information regarding the
// ActiveX Template Library product.

#include "labres.h"

/////////////////////////////////////////////////////////////////////////////
//  This COM object needs only one UI string for the system registry.  By
//  removing all other resources from the standard wizard generated code,
//  you can save 5-6K


/////////////////////////////////////////////////////////////////////////////
//
// String Table
//

STRINGTABLE DISCARDABLE
BEGIN
	IDS_LABRADOR_DESC       "Labrador 1.0 Object"
END
