//===========================================================================
//  File:      FRECLIEN.RC
//
//  Summary:   Resource definition file for FRECLIEN.EXE.
//
//  Origin:    4-7-96: atrent - Editor-inheritance from the DLLCLIEN source.
//
// -------------------------------------------------------------------------
//  This file is part of the Microsoft OLE Tutorial Code Samples.
//
//  Copyright (c) Microsoft Corporation.  All rights reserved.
//
//  This source code is intended only as a supplement to Microsoft
//  Development Tools and/or on-line documentation.  See these other
//  materials for detailed information regarding Microsoft code samples.
//
//  THIS CODE AND INFORMATION IS PROVIDED "AS IS" WITHOUT WARRANTY OF ANY
//  KIND, EITHER EXPRESSED OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE
//  IMPLIED WARRANTIES OF MERCHANTABILITY AND/OR FITNESS FOR A
//  PARTICULAR PURPOSE.
//===========================================================================

// We include winresrc.h because we're defining the Version Info.
// We include FRECLIEN.H for Resource IDs unique to FRECLIEN.EXE.
#include <winresrc.h>
#include "freclien.h"


// The main keyboard accelerator resource table.
AppAccel ACCELERATORS MOVEABLE PURE
BEGIN
  VK_F1,          IDM_HELP_CONTENTS,      VIRTKEY
  "?",            IDM_HELP_CONTENTS,      ASCII
END


// The About Box dialog resource.
IDM_HELP_ABOUT DIALOG DISCARDABLE  67, 46, 196, 53
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "About FRECLIEN"
FONT 8, "MS Shell Dlg"
BEGIN
  ICON            "AppIcon",-1,9,8,18,20
  LTEXT           "OLE Tutorial Code Sample: FRECLIEN Version 1.0",-1,32,7,
                    155,8,NOT WS_GROUP
  LTEXT           L"\251 2005 Microsoft Corporation.  All rights reserved.",-1,32,18,155,
                    8,NOT WS_GROUP
  PUSHBUTTON      "OK",IDOK,75,32,40,14
END


// The main icon resource for the application.
AppIcon ICON DISCARDABLE "freclien.ico"


// The main menu resource definition.
FRECLIENMENU MENU DISCARDABLE
BEGIN
  POPUP "&File"
  BEGIN
    MENUITEM "E&xit",                   IDM_FILE_EXIT
  END
  POPUP "&Help"
  BEGIN
//  MENUITEM "&Help Topics",            IDM_HELP_CONTENTS
    MENUITEM "&Read FRECLIEN.TXT",      IDM_HELP_README
    MENUITEM "Read &FRESERVE.TXT",      IDM_HELP_READMEDLL
    MENUITEM "Read Source &File...",    IDM_HELP_READSOURCE
    MENUITEM SEPARATOR
    MENUITEM "&About FRECLIEN...",      IDM_HELP_ABOUT
  END
END


// Error Box String Resources.
STRINGTABLE DISCARDABLE
BEGIN
  IDS_OLEINITFAILED       "FRECLIEN: OLE initialization failed."
  IDS_APPINITFAILED       "FRECLIEN: App initialization failed."
  IDS_OUTOFMEMORY         "FRECLIEN: Ran out of memory."
  IDS_NOHELPFILE          "FRECLIEN: Can't find .HLP file."
  IDS_NOUNICODE           "FRECLIEN: Can't run with Unicode."
  IDS_NOSERVER            "FRECLIEN: Server not registered."
  IDS_ASSERT_FAIL         "FRECLIEN: Assertion Failed."
END

// Notice Box and Message log String Resources.
STRINGTABLE DISCARDABLE
BEGIN
  IDS_START_MESSAGE_LOG   "========== Trace Message Log =========="
END


// If being read in by AppStudio we don't confuse it with this Version Info.
#ifndef APSTUDIO_INVOKED

// The version information for the binary.
VS_VERSION_INFO VERSIONINFO
FILEVERSION    1,0,0,0
PRODUCTVERSION 1,0,0,0
FILEFLAGSMASK  VS_FFI_FILEFLAGSMASK
#ifndef DEBUG
  FILEFLAGS    0
#else
  FILEFLAGS    VS_FF_DEBUG | VS_FF_PRERELEASE
#endif
FILEOS         VOS_NT_WINDOWS32
FILETYPE       VFT_APP
FILESUBTYPE    VFT2_UNKNOWN
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    #ifdef UNICODE
      BLOCK "040904B0" // LANG_ENGLISH/SUBLANG_ENGLISH_US, CharSet=Unicode
    #else
      BLOCK "040904E4" // LANG_ENGLISH/SUBLANG_ENGLISH_US, CharSet=MultiLang
    #endif
    BEGIN
      VALUE "CompanyName",     "Microsoft Corporation"
      VALUE "FileDescription", "FRECLIEN: OLE Tutorial Code Sample"
      VALUE "FileVersion",     "1.00"
      VALUE "InternalName",    "FRECLIEN"
      VALUE "LegalCopyright", L"\251 Microsoft Corporation.  All rights reserved."
      VALUE "OriginalFilename","FRECLIEN.EXE"
      VALUE "ProductName",     "Microsoft\256 OLE Tutorial Code Samples"
      VALUE "ProductVersion",  "1.00"
    END
  END

  BLOCK "VarFileInfo"
  BEGIN
    #ifdef UNICODE
      VALUE "Translation", 0x409, 1200  //English (0x409), Unicode (1200)
    #else
      VALUE "Translation", 0x409, 1252  //English (0x409), ANSI (1252)
    #endif
  END
END

#endif
