<?xml version="1.0" encoding="utf-8"?>
<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  IgnorableNamespaces="uap mp">
  
  <Identity Name="Microsoft.SDKSamples.Accelerometer.CPP" Publisher="CN=Microsoft Corporation, O=Microsoft Corporation, L=Redmond, S=Washington, C=US" Version="1.0.0.0" />

  <mp:PhoneIdentity PhoneProductId="e4eed935-936f-4928-bcf1-bfeefc15601d" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>
  
  <Properties>
    <DisplayName>Accelerometer CPP sample</DisplayName>
    <PublisherDisplayName>Microsoft Corporation</PublisherDisplayName>
    <Logo>Assets\storeLogo-sdk.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>
    
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  
  <Applications>
    <Application Id="AccelerometerCPP.App" Executable="AccelerometerCPP.exe" EntryPoint="AccelerometerCPP.App">
      <uap:VisualElements DisplayName="Accelerometer CPP sample" Square150x150Logo="Assets\squareTile-sdk.png" Square44x44Logo="Assets\smallTile-sdk.png" 
                      Description="Accelerometer CPP sample" BackgroundColor="#00b2f0">
        <uap:DefaultTile ShortName="Accel CPP" Wide310x150Logo="Assets\tile-sdk.png"/>
        <uap:SplashScreen Image="Assets\splash-sdk.png" BackgroundColor="#00b2f0" />
      </uap:VisualElements>
    </Application>
  </Applications>
</Package>